body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box; }

.toolbar-wrapper {
  position: fixed; }

.show-bar {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
     -moz-transform: translate(-50%, -50%);
       -o-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 65px;
  height: 65px;
  border-radius: 50%;
  border: 4px solid gray;
  font-size: 13px;
  font-weight: 400;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer; }

.bar {
  display: none;
  position: fixed;
  left: 0;
  background-color: #363d4d;
  width: 100%;
  height: 40px;
  color: white; }
  .bar .bar-info {
    position: relative;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .bar .bar-info span:nth-child(1) {
      margin-top: 14px;
      font-family: Arial;
      font-size: 12px; }
    .bar .bar-info span:nth-child(2) {
      background-color: #f3c126;
      padding: 5px 10px;
      margin-left: 10px;
      margin-top: 7px;
      font-size: 12px;
      font-weight: 400;
      cursor: pointer; }
    .bar .bar-info span:nth-child(3) {
      position: absolute;
      top: 13px;
      right: 5%;
      cursor: pointer;
      font-family: Arial;
      font-size: 15px; }
